html {
    box-sizing: border-box;
    overflow: hidden;
}

label {
    float: left;
    /* width: 150px; */
}

select {
    float: right;
    /* width: 250px; */
    width: 25%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
}

small {
    cursor: help;
}

#log {
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.back-danger {
    background: #a94442;
    color: white;
}

.back-success {
    background: #3c763d;
    color: white;
}

.back-warning {
    background: #8a6d3b;
    color: white;
}


/* Colorful tags =) */

red {
    color: red;
}

yellow {
    color: yellow;
}

green {
    color: green;
}

lgreen {
    color: #0f0;
}

blue {
    color: blue;
}

lblue {
    color: lightblue;
}

cyan {
    color: cyan;
}

orange {
    color: orange;
}

purple {
    color: blueviolet;
}