#api-status {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#api-status li {
    display: inline;
    background-color: rgba(255, 0, 0, .9);
    border-radius: 5px;
    padding: 2px;
}

#api-status .ready {
    background-color: rgba(0, 255, 0, .9) !important;
}

#api-status .wait {
    background-color: rgba(255, 255, 0, .9) !important;
}